*{
    margin: 0;
    padding: 0;
}
/* Header */
#nav-barre-container{
    width: 100%;
    height: 60px;
    /* border :solid black; */
    display: flex;
    align-items: center;
}
#menu-logo-container{
    width: 20%;
    height: 90%;
    /* border: solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu{
    width: 20%;
    height: 100%;
    /* border: solid yellow; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu i{
    font-size: 30px;
}
#logo{
    width: 80%;
    height: 100%;
    /* border: solid gray; */
    display: flex;
    align-items: center;
}
#logo img{
    width: 100%;
}
#search-barre{
    width: 60%;
    height: 90%;
    /* border: solid blue; */
    display: flex;
    align-items: center;
    justify-content: center;
}
#search-barre input{
    width: 75%;
    height: 40px;
    padding-left: 2%;
}
#search-barre button{
    width: 20%;
    height: 40px;
}
#icons-nav-container{
    width: 20%;
    height: 90%;
    /* border: solid green; */
}
#icons-nav-container i{
    font-size: 25px;
    float: right;
    padding-right: 30px;
}
/* Body */
#main{
    margin-top: 20px;
    margin-left: 70px;
    width: 90%;
    height: 650px;
    border: solid black;
    display: flex;
}
#video-title-likes{
    width: 65%;
    height: 100%;
    /* border: solid blue; */
    display: flex;
    flex-wrap: wrap;
}
#video{
    width: 100%;
    height: 75%;
    border: solid red;
}
#title{
    width: 50%;
    height: 25%;
    border: solid red;
}
#likes{
    width: 50%;
    height: 25%;
    /* border: solid red; */
    display: flex;
    justify-content: space-around;
    align-items: self-end;
}
#list{
    /* margin-left: 50px; */
    width: 35%;
    height: 100%;
    /* border: solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}
.items{
    display: flex;
    justify-content: space-evenly;
}
